<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
 aaa watch me now
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  watch me now
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  watch me now
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  watch me now
  <i class="fa fa-arrow-right pl-2"></i>
</a>