<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  X
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  Discord
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  Tiktok
  <i class="fa fa-arrow-right pl-2"></i>
</a>
<br/>

<a class="btn btn-primary mt-6" href="https://www.youtube.com/@cupcakemafiatv/featured">
  Instagram
  <i class="fa fa-arrow-right pl-2"></i>
</a>
