<!DOCTYPE html>

<html lang="zxx" class="h-full overflow-x-hidden dark">

    {{- partial "head.html" . -}}

    <body class="relative z-10 antialiased font-base text-gray-500 text-sm font-medium lg:text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden dark:text-gray">

        <div id="site-wrapper" class="flex flex-col h-full js-site-wrapper">        
        
            <div class="header-wrapper text-white">

                <header id="site-header" class="text-white">

                    <div class="max-w-[1360px] mx-auto px-5">

                        <nav class="flex min-h-[64px] items-center gap-x-6 lg:gap-x-11 py-1 lg:min-h-[90px] lg:py-4">

                            <!-- Logo -->
                            {{- partial "logo.html" . -}}
                            <!-- Logo / End -->
        
                            <!-- Navigation (Desktop) -->
                            {{- partial "navigation.html" . -}}
                            <!-- Navigation (Desktop) / End -->

                            <!-- Header Controls -->
                            <div class="flex ml-auto -mr-3">
                                <button class="js-menu-toggle -mr-2 inline-flex py-4 px-2 sm:px-3 lg:hidden xl:px-4">
                                <svg role="img" class="js-menu-toggle-icon-open h-6 w-6 fill-gray-900 dark:fill-white">
                                    <use xlink:href="/img/sprites2.svg#menu"></use>
                                </svg>
                                <svg role="img" class="js-menu-toggle-icon-close hidden h-6 w-6 fill-gray-900 dark:fill-white">
                                    <use xlink:href="/img/sprites2.svg#menu-close"></use>
                                </svg>
                                </button>
                            </div>
                            <!-- Header Controls / End -->

                        </nav>

                    </div>
                
                </header>

            </div>

            <!-- Mobile Menu -->
            {{- partial "mobile_menu.html" . -}}
            <!-- Mobile Menu / End -->
            
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>

            {{- partial "footer.html" . -}}
            {{- partial "scripts.html" . -}}

        </div>

        {{- partial "socials.html" . -}}

    </body>

</html>