<!DOCTYPE html>

<html lang="zxx" class="h-full overflow-x-hidden dark">

    {{- partial "head.html" . -}}

    <body class="relative z-10 antialiased font-base text-gray-500 text-sm font-medium lg:text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden dark:text-gray">

        <div id="site-wrapper" class="flex flex-col h-full js-site-wrapper">        
        
            <div class="header-wrapper text-white">

                <header id="site-header" class="text-white">

                    <div class="max-w-[1360px] mx-auto px-5">

                        <nav class="flex min-h-[64px] items-center gap-x-6 lg:gap-x-11 py-1 lg:min-h-[90px] lg:py-4">

                            <!-- Logo -->
                            {{- partial "logo.html" . -}}
                            <!-- Logo / End -->
        
                            <!-- Navigation (Desktop) -->
                            {{- partial "navigation.html" . -}}
                            <!-- Navigation (Desktop) / End -->

                            <!-- Header Controls -->
                            <div class="flex ml-auto -mr-3">
                                <button class="js-menu-toggle -mr-2 inline-flex py-4 px-2 sm:px-3 lg:hidden xl:px-4">
                                <svg role="img" class="js-menu-toggle-icon-open h-6 w-6 fill-gray-900 dark:fill-white">
                                    <use xlink:href="/img/sprites2.svg#menu"></use>
                                </svg>
                                <svg role="img" class="js-menu-toggle-icon-close hidden h-6 w-6 fill-gray-900 dark:fill-white">
                                    <use xlink:href="/img/sprites2.svg#menu-close"></use>
                                </svg>
                                </button>
                            </div>
                            <!-- Header Controls / End -->

                        </nav>

                    </div>
                   
            <!-- Mobile Menu -->
            {{- partial "mobile_menu.html" . -}}
            <!-- Mobile Menu / End -->

            <main id="main-content" class="grow lg:pt-0">
              
              <div class="pt-10  lg:pt-20 ">
                <div class="container">
                  
                  <div class="flex flex-col gap-y-10 lg:gap-y-20">
                    <div class="grid grid-cols-12 gap-x-5 gap-y-9 md:gap-x-6 lg:gap-x-7.5">
                      <div class="col-span-full md:col-span-8">
                        <div class="mb-3">

                          <div class="mb-12 md:mb-16 lg:mb-20 xl:mb-24">
                            <h3 class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16">
                              Streaming Accessories:
                            </h3>
            
                            <div class="flex flex-col gap-y-12">
                              <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                                <div class="flex items-center justify-center">
                                  <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                    <use xlink:href="/img/sprites1.svg#gamer-mouse"></use>
                                  </svg>
                                </div>
            
                                <div class="lg:pt-1">
                                  <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/Razer-Naga-Trinity-Optical-Interchangeable/dp/B0788MCRGC/ref=sr_1_10?crid=3GL97WUTCXZO2&dib=eyJ2IjoiMSJ9.iNnVk6TL4dP0ltTIeA7mkhtOncSqH1beEIvLZgY3h6bRrdhgLNmizmwkZL3FGiLHEW5f_cb5G3eHDL-DsLC8WpQ5L5uGktrzMbKhiV_ys_kg-OlUBYlByG9U--ooIWSeRoInibz6XhYegalIQb8iH32b9dtMt2boVEtzPE5TIVOODqC-4gflsB8G_uCpR5YSF7IfgFGm6NRfZtneO1-5BLCvKGfsXgizkBG_OdnhzshkuskWfV9lkAO3hPoq2vixZUtDftPl3qk_r5Aiw4OCJbubIIDDQRGa7k_rYJ8y2zM.Ykctnnarpup46VMZzJN3-jlXumK35pi9uhmgnjz11UM&dib_tag=se&keywords=razor+naga&qid=1722959681&sprefix=razor+naga%2Caps%2C82&sr=8-10">Razer Naga Trinity</a>
                                  </h4>
                                  <div class="font-bold text-gray-500">Mouse</div>
                                </div>
            
                               <div class="col-span-full lg:col-auto">
                                 <!-- <a href="https://www.amazon.ca/Razer-Naga-Trinity-Optical-Interchangeable/dp/B0788MCRGC/ref=sr_1_3?crid=10IXRHIWR8I9U&dib=eyJ2IjoiMSJ9.W55FpZUhoMeXXR4XobVnk05Dm_qCehEZti46abiJb74asbkRBj_BxNM5T9JTFCaEsU-Of1PkvvgEboNVKMSbVUnfZe-QVL0mH0nOrvHGKae6ENYIqdUlMxlE8lKw_DvG1O1559AeSJKnb4_whwfIqnIjOrWJc9gurYhBoacXMYd7Pa6H0hrX9kYQ6ZzkmbJLcUBMs9X6utRQefGQ-zmj0Mxc5HeKnjlGGT0LZmJ3AMeELYYRcy5ftIeyP114jWCZ62n1kJhIwmVUQofOS_iN-34t8lQ9BD7JkM-QheAumw4.1OFYk0JwzJGrboo3XmFaJL8SVjj-voQyhUDo7erJ-1k&dib_tag=se&keywords=razer+trinity&qid=1722953647&sprefix=razer+trinity%2Caps%2C80&sr=8-3" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                    Buy it now! -->
            
                                  </a>
                                </div>
                              </div>
                              <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                                <div class="flex items-center justify-center">
                                  <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                    <use xlink:href="/img/sprites1.svg#keyboard"></use>
                                  </svg>
                                </div>
          
                                <div class="lg:pt-1">
                                  <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/Razer-Huntsman-Elite-Gaming-Keyboard/dp/B085TD1TV2/ref=sr_1_5?crid=2OP2JKT3HCBXY&dib=eyJ2IjoiMSJ9.AruDXfOycrerRyn0p06zflvqEDK8XtZa38iYrVLC9xGWK6AEFz4s7C2l_lZgFBh2UY4oWenkT5nG8G7xJ8NPBXFa89_uTgvW3eQzZKf5bvd2uvm4XA1qD0mOq-T_mXxGw1Yfhwrw6diQ45TsKezrWfC5OwG595-4GE1L1t9oB1VQdZKq6B5j91AoJLCPgyM0UoT36W6RAIYmsYFdQSuKRzhDI-vBYZJWiDqq0kswLG9klTmm8z2wQB855Ywiag1UIxt9vSgCEa7bvI1azeuoYTtWI4jxhbuwF5FuMire7SM.upkzW7feuX1VHdSOa2jnl5RVdzb0XHucN3Vp8-10vEc&dib_tag=se&keywords=razer+huntsman+elite+keyboard&qid=1722959758&sprefix=razer+huntsman+elite+keyboard%2Caps%2C83&sr=8-5">Razer Huntsman Elite</a>
                                  </h4>
                                  <div class="font-bold text-gray-500">Keyboard</div>
                                </div>
            
                                <div class="col-span-full lg:col-auto">
                                  <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                    Buy it now! -->
            
                                  </a>
                                </div>
                              </div>
                              <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                                <div class="flex items-center justify-center">
                                  <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                    <use xlink:href="/img/sprites1.svg#headset"></use>
                                  </svg>
                                </div>
            
                                
                                <div class="lg:pt-1">
                                  <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/HyperX-Gaming-Headset-Nintendo-Switch/dp/B00SAYCXWG/ref=sr_1_1_sspa?crid=3MZOPYPA5VRJ&dib=eyJ2IjoiMSJ9.3n8FTs8w28j8xgVK-fI0KrM_LBhtEJoSUjD3qC149jERsYxlPs6VbeuvuekXXSrMxy4TF7M2qTIEKr0r7fid09e5tqNKaMUPZDmhDpGaHIIv47wA8czPkH5Qo9aiUcuM3CCafhQrspXstWBDSJPBgSo_BTWNUAt9vOhOneT1LydDxAuk_HeFOYssOnQol58aSLhs7pVV3UZTkGxBkYW1_t2aYiagCDVz5DehqoGvtQiVxiRECvc_fSJA18CaoQeqAi3JObm8Y37vpUDpe_-bKM73WAhvQ1lKvrntb5IxNPU.AkIS8lHftuUyM4j_CnxssZYj314quLGLjIXGFUFKynk&dib_tag=se&keywords=hyperx+cloud+headset&qid=1722960884&sprefix=hyperx+cloud+headset%2Caps%2C83&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">HyperX Cloud II</a>
                                  </h4>
                                  <div class="font-bold text-gray-500">Headset</div>
                                </div>
            
                                <div class="col-span-full lg:col-auto">
                                  <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                    Buy it now! -->
            
                                  </a>
                                </div>
                              </div>
                              <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                                <div class="flex items-center justify-center">
                                  <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                    <use xlink:href="/img/sprites1.svg#screen"></use>
                                  </svg>
                                </div>
            
                                <div class="lg:pt-1">
                                  <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/HP-OMEN-FreeSync-Compatible-Monitor/dp/B08P531VKB">HP OMEN 27i (x2)</a>
                                  </h4>
                                  <div class="font-bold text-gray-500">Monitor</div>
                                </div>
            
                                <div class="col-span-full lg:col-auto">
                                  <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                    Buy it now! -->
               
                                  </a>
                                </div>
                              </div>
                              <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                                <div class="flex items-center justify-center">
                                  <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                    <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                                  </svg>
                                </div>
            
                                <div class="lg:pt-1">
                                  <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                    <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/gp/product/B07XYPVFCH/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&th=1">Canon EOS M200</a>
                                  </h4>
                                  <div class="font-bold text-gray-500">Camera</div>
                                </div>
            
                                <div class="col-span-full lg:col-auto">
                                 <!-- <a href="https://www.amazon.ca/gp/product/B07XYPVFCH/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&th=1" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                    Buy it now! -->
            
                                </a>
  
                              </a>
                            </div>
                          </div>
                          <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                            <div class="flex items-center justify-center">
                              <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                                <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                              </svg>
                            </div>
        
                            <div class="lg:pt-1">
                              <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                                <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/Elgato-Stream-Deck-Controller-Customizable/dp/B07RL8H55Z/ref=sr_1_7?crid=25O5Y19S0QLIV&dib=eyJ2IjoiMSJ9.OMGI7oKWJKrQPOWDHNwtsSErRew7sMuA4VwPDIXYrntOGQkSUK1UwyGyDurj8ZOG40rNcP7Taw7C-4JorH0vUhe8-DCFwIS3APm1zrLwmTTBsTdHW0suK4nIIFr6QzRG1M2bS5yIiA54bJgYWSoLmVbgey72TjlvW9YUccSJSB-Xdfdpg8GOqaKfcALkDYhWTvwQLF5GfMm2WnDi5Q2V1xoVWXDbMHDUM2LtYYk6Xzh2xCKd1-e9SgIaPzUmdW1oVC-R74pPgeqT8vbHhvqKe22OIaF2MvSI5QZ6OoYGMlU.egQppAmhWlg2FAuVu2uiJ9PEWhxLdZ7ClyIgyAzW6Vk&dib_tag=se&keywords=elgato+stream+deck&qid=1722961158&s=electronics&sprefix=elgato+stream+deck%2Celectronics%2C76&sr=1-7">Elgato Stream Deck XL</a>
                              </h4>
                              <div class="font-bold text-gray-500">Stream Deck</div>
                            </div>
        
                            <div class="col-span-full lg:col-auto">
                              <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                                Buy it now! -->                       
        
                              </a>
                            </a>
                          </div>
                        </div>
                        <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                          <div class="flex items-center justify-center">
                            <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                              <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                            </svg>
                          </div>
      
                          <div class="lg:pt-1">
                            <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                              <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/Shure-SM7B-Dynamic-Microphone-Cardioid/dp/B0002E4Z8M/ref=sr_1_4?crid=3H0RAQ6XUI4D5&dib=eyJ2IjoiMSJ9.7kg1f_jNQQF9RXwCX7Bk-bHik_F0szzx1AQ_tIh5IaAoWtJzVfPyoGCClluIl3yHq9JNo0z9bG7ZuwT2KLt4deVSNwpfoYkLEzL-Ozg9i7y1g6H-unLZq1LkrzEyhpcuXeJdW-8z189qUuDWNB41LA_5lmixBVPKi5MYu7obU2dSV682BoT-pdg_6ntO6b4si0NclVyCBMUuaF_42esfZ0hx4hMvYITa7cm6lMSDMA6Me0b_rY3XYbZNfUO9eejj6EKjnqEnP4ZkyLq2Hm5zVzt5EP3nIBYFWrBC1bRmq4c.Q3F5J7IYJKv7GRBYsLAgWdK7qSpXn2n0DAxqdnefT1Y&dib_tag=se&keywords=goxlr&qid=1722961233&s=electronics&sprefix=goxlr%2Celectronics%2C71&sr=1-4">Shure SM7B</a>
                            </h4>
                            <div class="font-bold text-gray-500">Microphone</div>
                          </div>
      
                          <div class="col-span-full lg:col-auto">
                            <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                              Buy it now! -->                  
      
                            </a>
  
                          </a>
                        </div>
                       
                        <div class="col-span-full lg:col-auto">
                          <!-- <a href="#" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-500/40 ring-1 ring-inset ring-gray-500/40 bg-transparent hover:bg-accent hover:text-gray-900 hover:ring-0 w-full">
                            Buy it now! -->                          
    
                          </a>
                          
                        </a>
                      </div>
                    </div>
                    <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                      <div class="flex items-center justify-center">
                        <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                          <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                        </svg>
                      </div>
  
                      <div class="lg:pt-1">
                        <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                          <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/Revolutionary-Broadcaster-4-Channel-Motorized-Officially/dp/B07JKNG4NV/ref=sr_1_2?crid=27ZZUQVKPGK8B&dib=eyJ2IjoiMSJ9.gCGIP6H9aNvqZL6FAqjeuv9P0w2dH-CiOTb6gsMzV32y4HX5wTIcqLHcu5nhpPPM-J3f7CWDY2EPSFYRK3yDh3PNfMNf19QZXZ5eoMELejLY39a9z3y80tmiE_c5x-nZuaKaS94qLqsCOgdru0JKbLXdnN6y8_ksxAzD8JbISkeHjr0z-FgXT1E87wDX16fUMhNIwaT29byyJuDWeVRUU5_i3sUukV1Cj86rSIZRaoJzkfjf8A65tagI0uHb-WSMNa3aa_Kb-v1RzSOyOTvw4mIMpD12mCc13FvQyeQ1Vco.loa3DZUfupfpLZpfs4QMlNaJL1kGK5xNYrT6Y7y8oZs&dib_tag=se&keywords=goxlr%2Bpro&qid=1722961555&sprefix=goxlrpro%2Caps%2C60&sr=8-2&th=1">TC Helicon GoXLR</a>
                        </h4>
                        <div class="font-bold text-gray-500">Audio Mixer</div>
                      </div>
  
                  </div>
                  <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                    <div class="flex items-center justify-center">
                      <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                        <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                      </svg>
                    </div>
  
                    <div class="lg:pt-1">
                      <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                        <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/gp/product/B07DHSZC4K/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">AVerMedia GC573 Capture Card</a>
                      </h4>
                      <div class="font-bold text-gray-500">Capture Card</div>
                    </div>
  
                </div>
                
                <div class="grid grid-cols-[70px_1fr] grid-rows-2 lg:grid-rows-1 lg:auto-rows-auto lg:grid-cols-[70px_1fr_180px] gap-x-4 lg:gap-x-6 xl:gap-x-7.5 gap-y-6">
                  <div class="flex items-center justify-center">
                    <svg class="aspect-square w-11 h-12.5 fill-accent" fill="currentColor">
                      <use xlink:href="/img/sprites1.svg#mousepad-mouse"></use>
                    </svg>
                  </div>
  
                  <div class="lg:pt-1">
                    <h4 class="lg:leading-none text-xl lg:text-2xl font-bold text-gray-900 dark:text-white">
                      <a class="text-gray-900 dark:text-white hover:text-accent dark:hover:text-accent transition-colors" href="https://www.amazon.ca/dp/B09H3YWPCH?psc=1&ref=ppx_yo2ov_dt_b_product_details">Divoom Pixoo-64 (x2)</a>
                    </h4>
                    <div class="font-bold text-gray-500">Pixel Art LED Panel</div>
                  </div>
 
                  <div class="col-span-full lg:col-auto">             
                </a>            
              </a>       
            </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-span-full pt-2 md:col-span-4 md:justify-self-center">
                          <img class="hidden dark:block" src="/img/30L.png" alt="" width="75%" height="75%">
                        <br>
                        <h3 class="text-gray-900 dark:text-white text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold mb-8 md:mb-12 lg:mb-14 xl:mb-16">
                          HP OMEN 30L
                        </h3>
                        <li>Intel 11th Gen i7-11700KF @3.60GHz</li>
                        <li>32 GB RAM</li>
                        <li>1 TB PECi NVMe M.2 SSD</li>                        
                        <li>4 TB Samsung 870 QVO SATA SSD</li>
                        <li>NVIDIA GeForce RTX 3080</li>

                      </div>
                      

                      
                    </div>
                  </div>
                </div>              
              </div>
        
            </main>            

            {{- partial "footer.html" . -}}
            {{- partial "scripts.html" . -}}

        </div>

        {{- partial "socials.html" . -}}

    </body>

</html>