                  <!-- Navigation (Desktop) -->

                  <ul class="hidden lg:gap-x-0 xl:gap-x-6 text-me font-bold lg:flex">
                    {{ range .Site.Menus.main }}
                    <li class="">
                      <a class="group text-gray-900 dark:text-white relative inline-flex items-center gap-x-3 leading-10 px-3.5 xl:px-4.5 after:absolute after:top-[15px] after:left-0 after:bg-current-marker-dark after:transition-transform after:w-1.5 after:h-[9px] dark:after:bg-current-marker after:origin-left after:scale-x-100" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}

                  </ul>
                  <!-- Navigation (Desktop) / End -->