<div class="w-full max-w-[1320px] mx-auto min-w-[1500px]:px-[90px]">
  <div class="h-[420px] md:h-[460px] lg:h-[660px] relative z-10">

    <div class="swiper js-vv-hero-swiper h-full w-full">

      <div class="swiper-wrapper vv-hero-swiper-wrapper">

        <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end">

                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">

                    <div class="flex gap-3">

                      <a href="https://www.twitch.tv/cupcakemafiatv" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        Twitch
                      </a>
                      <a href="https://twitchtracker.com/cupcakemafiatv" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        Stats
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div style="background-image: url('/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; transition: transform 8000ms ease-out;" class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110 group-[.swiper-slide-active]:scale-110"></div>
            <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"></div>

          </div>
        </div>

        <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end">

                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">

                    <div class="flex gap-3">

                      <a href="https://www.op.gg/summoners/na/CupcakeMafia-NA1" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        https://www.op.gg/summoners/na/CupcakeMafia-NA1
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div style="background-image: url('/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; transition: transform 8000ms ease-out;" class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110 group-[.swiper-slide-active]:scale-110"></div>
            <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"></div>

          </div>
        </div>        

        <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end">

                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">

                    <div class="flex gap-3">

                      <a href="https://worldofwarcraft.blizzard.com/en-us/character/us/malfurion/cupcakemafia" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        https://worldofwarcraft.blizzard.com/en-us/character/us/malfurion/cupcakemafia 
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div style="background-image: url('/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; transition: transform 8000ms ease-out;" class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110 group-[.swiper-slide-active]:scale-110"></div>
            <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"></div>

          </div>
        </div>

        <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end">

                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">

                    <div class="flex gap-3">

                      <a href="https://fortnitetracker.com/profile/all/CupcakeMafiaTV" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        https://fortnitetracker.com/profile/all/CupcakeMafiaTV
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div style="background-image: url('/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; transition: transform 8000ms ease-out;" class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110 group-[.swiper-slide-active]:scale-110"></div>
            <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"></div>

          </div>
        </div>        

        <div class="swiper-slide group">
          <div class="relative isolate h-full w-full bg-gray-900">
            <div class="container h-full">
              <div class="grid h-full grid-cols-12 md:gap-x-6 lg:gap-x-[30px] items-end">

                <div class="col-span-full md:col-span-6 pb-8 sm:pb-10 md:pb-12">
                  <div class="text-left">

                    <div class="flex gap-3">

                      <a href="https://steamcommunity.com/id/cupcakemafiatv/ " class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90">
                        https://steamcommunity.com/id/cupcakemafiatv/ 
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <div style="background-image: url('/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat; transition: transform 8000ms ease-out;" class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110 group-[.swiper-slide-active]:scale-110"></div>
            <div class="absolute inset-0 -z-10 bg-gradient-to-b from-transparent to-black"></div>

          </div>
        </div>


      </div>

    </div>

    <div class="vv-hero-swiper-pagination js-vv-hero-swiper-pagination absolute !right-2 sm:!right-4 xl:!-right-16 top-1/2 !left-auto -translate-y-1/2 !bottom-auto z-20 flex !w-[34px] flex-col items-end gap-0.5"></div>

    <div class="flex xl:flex-col absolute z-10 right-0 xl:-right-16 bottom-0 justify-center gap-y-4">
      <button class="js-vv-hero-swiper-btn-prev flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent">
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="/img/sprite.svg#arrow-left-pixel-alt"></use>
        </svg>
      </button>
      <button class="js-vv-hero-swiper-btn-next flex w-8 aspect-square items-center justify-center text-white hover:cursor-pointer hover:text-accent xl:rotate-90 bg-gray-900 xl:bg-transparent">
        <svg class="h-2.5 w-1.5" fill="currentColor">
          <use xlink:href="/img/sprite.svg#arrow-right-pixel-alt"></use>
        </svg>
      </button>
    </div>
  </div>
</div>