<div class="fixed bottom-5 left-2 z-20 flex flex-col-reverse items-center lg:bottom-auto lg:top-60 lg:left-7">

  <ul class="js-vv-social-links-floating vv-social-list-color hidden w-8 flex-col gap-y-4 peer-[.active]:flex lg:flex lg:gap-y-9">

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://twitch.tv/cupcakemafiatv">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#twitch"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://youtube.com/@cupcakemafiatv">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#youtube"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://twitter.com/CupcakeMafiaTV">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#x"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://instagram.com/cupcakemafiatv">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#instagram"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://discord.gg/x5Zsn2Hm7v">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#discord"></use>
        </svg>
      </a>
    </li>  

    <li>
      <a class="inline-flex h-8 w-8 items-center justify-center rounded-full text-white transition-transform hover:scale-110" href="https://www.tiktok.com/@cupcakemafiatv">
        <svg class="aspect-square w-3.5" fill="currentColor">
          <use xlink:href="/img/social-icons.svg#tiktok"></use>
        </svg>
      </a>
    </li>
   
  </ul>

</div>